@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

.active {
    @apply scale-105 font-bold text-coffee-700 border-b-2;
}

#map {
    @apply h-[52vh] w-[75dvw];
}


#menus {
  animation: appearing 400ms ease-out;
}

@keyframes appearing {
  0% {
    opacity: 0.15;
  }
  100% {
    opacity: 1;
  }
}